# ====================
# macOS
# ====================
.DS_Store
**/.DS_Store
.DS_Store?
._*
.AppleDouble
.LSOverride
Icon
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
#
/node_modules/
/dist/
/obj/
/l2/agents/NewSolution
